nimbus.host: "{{ storm_front_end_ip }}"
storm.log.dir: "/opt/storm/log"
storm.zookeeper.servers:
    - "{{ storm_front_end_ip }}"
nimbus.seeds: ["{{ storm_front_end_ip }}"]
storm.local.hostname: "{{ ansible_hostname }}"
worker.heap.memory.mb: 5000